.container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.import-data-container {
  display: flex;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
  flex-direction: column;
}

.import-data-container input {
  margin-top: 5%;
}

.import-data-container button {
  margin-top: 5%;
}
